<%- include("partials/header.ejs") %>

<h1>Home Page</h1>
<% if (locals.articleslist) { %>
<% locals.articleslist.forEach(element => { %>
  <li>
  <form action="/submit" method="POST">
    <button type="submit" class="btn btn-link p-0" name="articleName" value="<%=element%>">
    <%=element%>
    </button>
  </form>
</li>
<% }) %>
<% } else { %>
  <p>No articles found.</p>
  <a class="btn btn-outline-primary" href="/new">Add New Article</a>
<% } %>
<%- include("partials/footer.ejs") %>