<%- include("partials/header.ejs") %>

<h1>New Article</h1>
<form action="/new" method="POST">
  <input name="name" type="text" class="feedback-input" placeholder="Name" />
  <input name="author" type="text" class="feedback-input" placeholder="Author Name" />
  <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
  <button type="submit" value="SUBMIT">Create Article</button>
</form>

<%- include("partials/footer.ejs") %>